h3 {
   color: brown;
}

img {
   max-width: 100px;
   max-height: 100px;
}

.photos {
   text-align: center;
   border: rgb(63, 25, 112);
   border-style: solid;
   background-color: rgb(255, 255, 255);
}